a #plan{
  text-decoration: none;
  letter-spacing: 3px;
  color: white;
  font-size: 2rem;
}

header nav{
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    padding:8px;
    width: 100%;
    top:0;
    background-color: orange;
}
.headerPhoto {
    height:2vh;
    border-radius: 50%;
}